https://www.datacamp.com/community/tutorials/naive-bayes-scikit-learn

In [10]:
import pandas as pd

In [11]:
# for windows using Path
from pathlib import Path
data_folder = Path("C:\\Users\\User\\Dropbox\\My python-pandas code\\Bayes exercises")
# Note two backslashes for Windows
file_to_open = data_folder / "test2.txt"

In [ ]:
# For Mac
file_to_open = "/Users/arvindkarir/Dropbox/My python-pandas code/Bayes exercises/test2.txt"
# Getting path from Terminal adds '\' to spaces, needs to be removed

In [12]:
f = open(file_to_open)
contents = f.read()

In [13]:
print(contents)

1,2,3
Q,a,s
C,v,b
4,3,5

In [54]:
# Bring in the file for R
xls_file = pd.ExcelFile('R-indicator.xlsx')
df = xls_file.parse('Sheet1')
print(df[:5])

        Date  R  10 y vs. 3 mo.  3 mo.  3 mo. Rate, 1 yr forward
0 1967-10-01  0             NaN    NaN                       NaN
1 1968-01-01  0             NaN    NaN                       NaN
2 1968-04-01  0             NaN    NaN                       NaN
3 1968-07-01  0             NaN    NaN                       NaN
4 1968-10-01  0             NaN    NaN                       NaN

In [56]:
df['Date'] = pd.to_datetime(df['Date'])
df['quarter'] = df.Date.dt.quarter
df['year'] = df.Date.dt.year
Recession = df.groupby(['year','quarter'])['R'].mean()
print(Recession[:10])

year  quarter
1967  4          0
1968  1          0
      2          0
      3          0
      4          0
1969  1          0
      2          1
      3          1
      4          1
1970  1          1
Name: R, dtype: int64

In [75]:
# Bring in the file for 10y3m
xls_file = pd.ExcelFile('Data.xlsx')
df2 = xls_file.parse('10Y3M-finished')
print(df2[:5])

         Date  10y3mo
0  1982-01-04    2.32
1  1982-01-05    2.24
2  1982-01-06    2.43
3  1982-01-07    2.46
4  1982-02-01    2.50

In [76]:
df2['Date'] = pd.to_datetime(df2['Date'])
df2['quarter'] = df2.Date.dt.quarter

In [77]:
df2['year'] = df2.Date.dt.year
df2[:5]

        Date  10y3mo  quarter    year
0 1982-01-04    2.32      1.0  1982.0
1 1982-01-05    2.24      1.0  1982.0
2 1982-01-06    2.43      1.0  1982.0
3 1982-01-07    2.46      1.0  1982.0
4 1982-02-01    2.50      1.0  1982.0

In [78]:
Yield = df2.groupby(['year', 'quarter'])['10y3mo'].mean()
print(Yield[:10])

year    quarter
1982.0  1.0        0.928667
        2.0        0.692222
        3.0        2.690156
        4.0        2.971935
1983.0  1.0        2.293871
        2.0        1.858571
        3.0        1.955938
        4.0        2.482623
1984.0  1.0        2.429016
        2.0        2.796349
Name: 10y3mo, dtype: float64

In [2]:
#Import scikit-learn dataset library
from sklearn import datasets

#Load dataset
wine = datasets.load_wine()

In [7]:
# print the names of the 13 features
print("Features: ", wine.feature_names)

# print the label type of wine(class_0, class_1, class_2)
print("Labels: ", wine.target_names)
print(wine.data.shape)
print(wine.data[0:2])
print(wine.target)

Features:  ['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols', 'proanthocyanins', 'color_intensity', 'hue', 'od280/od315_of_diluted_wines', 'proline']
Labels:  ['class_0' 'class_1' 'class_2']
(178, 13)
[[  1.42300000e+01   1.71000000e+00   2.43000000e+00   1.56000000e+01
    1.27000000e+02   2.80000000e+00   3.06000000e+00   2.80000000e-01
    2.29000000e+00   5.64000000e+00   1.04000000e+00   3.92000000e+00
    1.06500000e+03]
 [  1.32000000e+01   1.78000000e+00   2.14000000e+00   1.12000000e+01
    1.00000000e+02   2.65000000e+00   2.76000000e+00   2.60000000e-01
    1.28000000e+00   4.38000000e+00   1.05000000e+00   3.40000000e+00
    1.05000000e+03]]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2]

In [9]:
# Import train_test_split function, use model_selection instead of cross_validation
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(wine.data, wine.target, 
                                                    test_size=0.3,random_state=109)
# 70% training and 30% test

In [10]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = gnb.predict(X_test)

In [11]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.907407407407