https://www.datacamp.com/community/tutorials/naive-bayes-scikit-learn

In [28]:
import pandas as pd

In [29]:
# for windows using Path
from pathlib import Path
data_folder = Path("C:\\Users\\User\\Dropbox\\python-pandas-code\\bayes")
# Note two backslashes for Windows

In [32]:
# For Mac
#file_to_open = "/Users/arvindkarir/Dropbox/python-pandas-code/bayes/data_bdi.csv"
# Getting path from Terminal adds '\' to spaces, needs to be removed

In [33]:
df = pd.read_csv(data_folder / "data_bdi.csv")

In [34]:
df['year'] = pd.to_datetime(df.date).dt.year
df['qtr'] = pd.to_datetime(df.date).dt.quarter

In [36]:
df.to_csv(r'data_bdi_quarterly.csv')
# file renamed to data_bdi_fixed.csv after deleting the index and date columns

In [37]:
# bring in fed rates file
df2 = pd.read_csv(data_folder / "data_fedrate.csv")

In [42]:
# convert date to year and quarter
df2['year'] = pd.to_datetime(df2.date).dt.year
df2['qtr'] = pd.to_datetime(df2.date).dt.quarter

In [43]:
# need to find the mean rate for each quarter
mean_fedrate = df2.groupby(['year', 'qtr'])['fed_rate'].mean()

In [48]:
mean_fedrate.to_csv(r'data_fedrate_quarterly.csv')
# file renamed to data_fedrate_fixed.csv after deleting the index and date columns, and 
    # adding legend row

In [52]:
# now for 10y3mo file
df3 = pd.read_csv(data_folder / "data_10y3mo.csv")

In [53]:
# convert date to year and quarter
df3['year'] = pd.to_datetime(df3.date).dt.year
df3['qtr'] = pd.to_datetime(df3.date).dt.quarter

In [57]:
# need to find the mean rate for each quarter
mean_yield = df3.groupby(['year', 'qtr'])['10y3mo'].mean()

In [58]:
mean_yield.to_csv(r'data_yield_quarterly.csv')
# file renamed to data_yield_fixed.csv  adding legend row for year, qtr, yield

#### Merging all the files

In [59]:
df1new = pd.read_csv(data_folder / "data_bdi_fixed.csv")
df2new = pd.read_csv(data_folder / "data_fedrate_fixed.csv")
df3new = pd.read_csv(data_folder / "data_yield_fixed.csv")

In [62]:
merge1 = pd.merge(df1new, df2new, on=['year', 'qtr'], how = "left")

In [63]:
merge1[:5]

   year  qtr  bdi  r  fed_rate
0  1985    1  978  0  8.476667
1  1985    3  819  0  7.900000
2  1985    4  820  0  8.103333
3  1986    2  620  0  6.920000
4  1986    4  748  0  6.266667

In [64]:
merge2 = pd.merge(merge1, df3new, on=['year', 'qtr'], how = "left")

In [65]:
merge2[:5]

   year  qtr  bdi  r  fed_rate     yield
0  1985    1  978  0  8.476667  3.080984
1  1985    3  819  0  7.900000  3.025323
2  1985    4  820  0  8.103333  2.760635
3  1986    2  620  0  6.920000  1.368197
4  1986    4  748  0  6.266667  1.780469

In [66]:
merge2.to_csv(r'data_all_quarterly.csv')
# deleted index column and header row, moved order of columns around ---> year, qtr, fed_rate
    # yield, bdi, r; and renamed data_all_fixed.csv